@model ICollection<Candidate>

@if (Model.Count > 0)
{
    if (TempData["InsertStatus"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["InsertStatus"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <h6 class="display-6">
        Applications(@Model.Count())
    </h6>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Full Name</th>
                <th>Apply At</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Candidate candidate in Model)
            {
                <tr>
                    <td>@candidate.Email</td>
                    <td>@candidate.FullName</td>
                    <td>@candidate.ApplyAt</td>
                    <td>@candidate.SelectedCourse</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">
        There is no application. Please click here to
        <a class="alert-link" asp-action="Apply"> apply. </a>
    </div>
}